<div class="row mt-0">
    <div class="col-md-5 col-sm-6 ml-1">
        <div class="form-group">
            <label style="margin-bottom:2px;">Position name</label>
            <fieldset class="form-group">
                <textarea class="form-control" id="basicTextarea" rows="2"></textarea>
            </fieldset>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-4 col-sm-5">
        <div class="col-md-12 ">
            <fieldset class="form-group mb-0">
                <label>Permanent Classification</label>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio1" value="" checked>
                    Permanent
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="" checked>
                    Administrative
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="">
                    Technical
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="">
                    With RATA
                </label>
            </fieldset>
        </div>
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-4 col-sm-5">
        <div class="col-md-12">
            <fieldset class="form-group mb-0">
                <label>Non-Permanent Classification</label>
            </fieldset>
        </div>
        <div class="col-md-12">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio1" value="">
                    Non-Permanent
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="">
                    Contructual
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="">
                    Casual
                </label>
            </fieldset>
        </div>
        <div class="col-md-12 ml-2">
            <fieldset class="radio">
                <label>
                    <input type="radio" name="radio2" value="">
                    With RATA
                </label>
            </fieldset>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <button type="button" class="btn btn-menuRed btn-min-width mr-1 float-right"
                data-toggle="modal"
                data-target="#ViewPrintPreviewModal"
                onclick="OpenViewUpdatePrintPreviewModal()">
            Cancel
        </button>
        <button type="button" class="btn btn-btnbackcolor btn-min-width mr-1 float-right"
                data-toggle="modal"
                data-target="#ViewPrintPreviewModal"
                onclick="OpenViewUpdatePrintPreviewModal()">
            Add
        </button>
    </div>
</div>