<table class="table table-responsive table-striped table-bordered table-condensed zero-configuration w-100 table-smss-hover">
    <thead class="text-center">
        <tr>
            <th colspan="2">Position Name</th>
            <th width="25%">Permanent/Non-Permanent</th>
            <th width="25%">Permanent (Classification)</th>
            <th width="25%">Non-Permanent (Clasification)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td class="text-center">Chief of Hospital</td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanent" value="" checked>
                            Permanent
                        </label>
                        <label>
                            <input type="radio" name="radiopermanent" value="">
                            Non Permanent
                        </label>
                    </fieldset>
                </div>
            </td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification" value="">
                            With RATA
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification" value="">
                            Technical
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification" value="" checked>
                            Administrative
                        </label>
                    </fieldset>
                </div>
            </td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radioNonpermanent" value="">
                            Contractual
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radioNonpermanent" value="">
                            Casual/Emerency
                        </label>
                    </fieldset>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td class="text-center">Chief of Hospital I</td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanent2" value="">
                            Permanent
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanent2" value="">
                            Non Permanent
                        </label>
                    </fieldset>
                </div>
            </td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification2" value="">
                            With RATA
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification2" value="">
                            Technical
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radiopermanentClassification2" value="">
                            Administrative
                        </label>
                    </fieldset>
                </div>
            </td>
            <td>
                <div class="ml-3">
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radioNonpermanent2" value="">
                            Contractual
                        </label>
                    </fieldset>
                    <fieldset class="radio">
                        <label>
                            <input type="radio" name="radioNonpermanent2" value="">
                            Casual/Emerency
                        </label>
                    </fieldset>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<script>
    $(function () {
        LoadDataTable();
    })
</script>

