
@{
    ViewBag.Title = "FilePosition";
}

<script>
    $("#FileMaintenancePositionID").addClass("active");
</script>

<div class="content-header row">
    <div class=" content-header-left col-md-12 mb-0">
        <h3 class="content-header-title"><strong>Position for Staffing Profile</strong></h3>
    </div>
</div>

<div class="content-body" id="FMPositionSPController" ng-controller="FMPositionSPController" ng-init="GetPositionSPDTable(); GetAddPosition();">
    <div class="row">
        <div class="content-header-left col-md-12">
            <div class="card box-shadow-3">
                <div class="card-content collapse show">
                    <div class="card-body rounded m-0" style="border: 1px solid; border-color: #9BC69D;">
                        <div class="card-content collapse show">
                            <div ng-bind-html="PositionTempID">

                            </div>
                            <div class="mt-2" ng-bind-html="FMPositionSPID">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    app.controller('FMPositionSPController', function ($scope, $http, $sce) {
        var F = $scope, P = $http, D = $sce.trustAsHtml;

        //Get Position and Staffing Profile Datatable Partial View
        F.GetPositionSPDTable = function () {
            F.FMPositionSPID = null;
            P({
                url: '/FileMaintenancePosition/GetPositionSPDTable',
            }).then(function (response) {
                F.FMPositionSPID = D(response.data);
            });
        }
        F.GetAddPosition = function () {
            F.PositionTempID = null;
            P({
                url: '/FileMaintenancePosition/GetAddPosition',
            }).then(function (response) {
                F.PositionTempID = D(response.data);
            });
        }
    });
</script>